spring:
  profiles:
    active: dev
  application:
    name: passengerflow
    version: 0.0.1
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=1000,expireAfterWrite=6h
    cache-names:
      - weather
upload:
  path: uploads
open-meteo:
  api:
    url: https://api.open-meteo.com/v1/forecast
jwt:
  token-secret: ${JWT_TOKEN_SECRET}
  access-token-duration-minute: 5
  access-token-duration-second: 300
  refresh-token-duration-day: 7
  refresh-token-duration-second: 604800
  access-cookie-name: access_token
  refresh-cookie-name: refresh_token
---
spring:
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: update
  show-sql: true
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
server:
  port: 8080
---
spring:
  config:
    activate:
      on-profile: prod
  jpa:
    hibernate:
      ddl-auto: validate
  show-sql: false
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
server:
  port: 9001